.slider-container {
    width: 100%;
    padding: 2%;
}

.slider {
    position: relative;
    width: 100%;
    height: 0.5em;
    background-color: #ccc;
    border-radius: 10px;
    margin-top: 2.5em;
}

.slider-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            rgba(203, 48, 76, 1) 0%,
            rgba(244, 135, 42, 1) 40%,
            rgba(252, 229, 89, 1) 78%,
            rgba(151, 200, 47, 1) 87%,
            rgba(114, 190, 41, 1) 100%
            /* Adjust the stop to 100% */
        );
    border-radius: 10px;
}

.slider-handle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    /* background-color: #007bff; */
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* Ensure the handle is above the line */
}

.slider-handle::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    /* Adjust vertical position to center */
    left: calc(50% - 2px);
    /* Adjust horizontal position to center */
    width: 4px;
    height: 4px;
    /* background-color: black; */
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    /* Adjust the size of the triangle */
    border-right: 5px solid transparent;
    /* Adjust the size of the triangle */
    border-bottom: 10px solid black;
    /* Adjust the size and color of the triangle */
    margin-top: 30px;
}

.price-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.price-label {
    font-size: 14px;
}

.level1 {
    display: flex;
    justify-content: end;
}