.section1 {
    display: flex;
}

.box1 {
    display: flex;
}

.box2,
.box3 {
    height: 30%;
    width: 35%;
    border: 1px solid black;
    margin-top: 10px;
}

.price-chart-container {
    display: flex;
}